*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #003963; */
}
p{
    margin-bottom: 0!important;
}
section{
    padding-top: 120px;
    padding-bottom: 62px;
}
.hero{
    background-image: url(/assets/images/heroimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-blend-mode: overlay;
}

.hero-img{
    transform: scaleX(-1);
}
.navbar{
    transition: all 0.5s;
}
.navbar-scrolled{
    backdrop-filter: blur(4px);
}

.logo{
    height: 100px;
    width: 120px;
    padding: 5px;
}
.navbar-nav{
    margin-left: 700px ;
}

li{
    font-size: 1.2rem;
    color: black;
}

/* ABOUT SECTION  */
.about-text{
    backdrop-filter: grayscale(100%);
}

/* Our Products */
.product-group{
    padding: 20px;
    width: 100vw;
    display: flexbox;
}
.real-estate, .insurance{
    display: flex;
    width: 75%;
    margin: 0 auto;
    align-items: center;
}

.insurance{
    flex-direction: row-reverse;
    
}
.info{
    padding: 10px;
}
/* solutions */
.our-solutions, .contact-box{
    background-image: linear-gradient(180deg, rgb(217,238,251),rgb(221,243,254));
    height: 75%;
}

.icons{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}
.icon-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.icon{
    width: 75px;
    height: 75px;
}
.box2 > p{
    margin-top: -105px;
}

.faq-container{
    width: 50%;
    padding: 20px;
    margin: 0 auto;
}
.faq-header{
    margin: 0 auto;
}

.contact-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;   
}
.contact-btn{
    margin: 0 auto;
}

.footer{
    margin-top: 0!important;
}
.nav{
    flex-wrap: nowrap!important;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 768px) {
    .herobox{
        display: none;
    }
    .btn{
        margin-bottom: 7px;
    }
    .navbar-nav{
        margin-left: 0px!important;
    }
    .real-estate, .insurance{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .real-estate>img, .insurance>img{
        width: 230px;
        height: 200px;
    }
    .title{
        text-align: center;
        padding: 5px;
    }
    .our-solutions>p{
        padding: 10px;
    }
    .icon{
        width: 45px;
        height: 45px;
    }
    .icon-box>p{
        font-size: .7rem;
    }
    .box2>p{
        margin-top: -70px;
    }
    .nav-item{
        font-size: 1rem!important;
    }

}

@media screen and (max-width: 1024px){
    .navbar-nav{
        margin-left: 350px;
    }
    .nav{
        flex-wrap: nowrap!important;
    }
}

